{% extends 'base.html' %}

{% block content %}
  {% block javascript %}
  {% csrf_token %}
  <script type="text/javascript">
        
        require([
          "esri/widgets/Sketch",
          "esri/Map", 
          "esri/views/MapView",
          "esri/widgets/BasemapToggle",
          "esri/Graphic",
          "esri/layers/GraphicsLayer"
        ], function(Sketch, Map, MapView, BasemapToggle, Graphic, GraphicsLayer) {
          var layer = new GraphicsLayer();
          var map = new Map({
            basemap: "topo",
            layers: [layer]
          });

          var view = new MapView({
            container: "mapDiv",
            map: map,
            zoom: 6,
            center: [-120.042165, 37.091944] // longitude, latitude
          });

          var study_area = {
            type: "polygon",
            rings: {{study_area}},
            spatialReference: {wkid: 3857}
          };
          var simpleFillSymbol = {
             type: "simple-fill",
             color: [0, 255, 255, 0.1],  // blue, opacity 10%
             outline: {
               color: [0, 255, 255],
               width: 1
             }
           };
          var polygonGraphic = new Graphic({
            geometry: study_area,
            symbol: simpleFillSymbol
          });
          layer.add(polygonGraphic)
    
          var basemapToggle = new BasemapToggle({
            view: view,
            nextBasemap: "hybrid"
          });
          

          const sketch = new Sketch({
            layer: layer,
            view: view,
            // graphic will be selected as soon as it is created
            creationMode: "single",
            availableCreateTools: ["point"]
          });


          view.ui.add(sketch, "top-right");
          view.ui.add(basemapToggle, "top-right");
          sketch.on("create", function(event){
            if (event.state === "complete") {
              var location = [event.graphic.geometry.x, event.graphic.geometry.y];
              console.log(location);
              console.log(location);
              $(document).ready(function(){
                var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
                console.log(document)
                $.post("/upload/location_handler", {csrfmiddlewaretoken: csrf_token,
                                                    data: location}, function(data){
                  console.log('!!!in the response function!!!');
//                   
                  
                })
              });
                
            }
          });
        });
    
    

      </script>
  {% endblock%}

  {% block page_content %}

    {% if messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}


<div class="contianer-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8" >
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
              
            
            <div class="steps-form">
              <div class="steps-row setup-panel">
                <div class="steps-step">
                  <div class="btn btn-info btn-circle">1</div>
                  <p>Pick Location</p>
                </div>
                <div class="steps-step">
                  <div class="btn btn-outline-primary btn-circle"disabled="disabled">2</div>
                  <p>Metadata Information</p>
                </div>
                <div class="steps-step">
                  <div class="btn btn-outline-primary btn-circle" disabled="disabled">3</div>
                  <p>Upload</p>
                </div>
              </div>
            </div>
              
              
            <h3 class="mx-auto"> Please use 'Draw a Point' tool on the upper right corner of the map to select a location of dataset. </h3>
            {% load static %}
            <div class="col-sm-8">
              <img id="picker_example" src="{% static 'assets/brand/location_picker_example.png' %}"/>
            </div>
            <div class="col-sm-4">
              <form method='POST'>
                {% csrf_token %}
                <div class="d-flex p-2">
                  <input id="picker_next" class="btn btn-primary" type="submit" value="next"/>
                </div>
              </form>
            </div>
            <div class="map" id="mapDiv"> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
{% endblock %}