{% extends 'base.html' %}

{% block content %}
  {% block javascript %}
  {% csrf_token %}
  <script type="text/javascript">
        
        require([
          "esri/widgets/Sketch",
          "esri/Map", 
          "esri/views/MapView",
          "esri/widgets/BasemapToggle",  
          "esri/layers/GraphicsLayer"
        ], function(Sketch, Map, MapView, BasemapToggle, GraphicsLayer) {
          const layer = new GraphicsLayer();
          var map = new Map({
            basemap: "topo",
            layers: [layer]
          });

          var view = new MapView({
            container: "mapDiv",
            map: map,
            zoom: 6,
            center: [-120.042165, 37.091944] // longitude, latitude
          });
          var basemapToggle = new BasemapToggle({
            view: view,
            nextBasemap: "hybrid"
          });


          const sketch = new Sketch({
            layer: layer,
            view: view,
            // graphic will be selected as soon as it is created
            creationMode: "single",
            availableCreateTools: ["point"]
          });


          view.ui.add(sketch, "top-right");
          view.ui.add(basemapToggle, "top-right");
          sketch.on("create", function(event){
            if (event.state === "complete") {
              var location = [event.graphic.geometry.x, event.graphic.geometry.y];
              console.log(location);
              console.log(location);
              $(document).ready(function(){
                var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
                console.log(document)
                $.post("/upload/location_handler", {csrfmiddlewaretoken: csrf_token,
                                                    data: location}, function(data){
                  console.log('!!!in the response function!!!');
//                   
                  
                })
              });
                
            }
          });
        });

      </script>
  {% endblock%}

  {% block page_content %}
<div class="contianer-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8" >
      <div class="card mb-4">
        <div class="card-body">
          <ul class="progressbar">

            <li class="active">Geo-location Picker</li>
            <li>Metadata Collection</li>
          </ul>

          <div class="row">
            <h2 class="col-sm-8"> Please use the point tool to select the dataset location. </h2>
            <div class="col-sm-4">
              <form method='POST'>
                {% csrf_token %}
                <div class="d-flex p-2">
                  <input class="btn btn-primary" type="submit" value="next"/>
                </div>
              </form>
            </div>
            <div class="map" id="mapDiv"> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
{% endblock %}