{% extends 'base.html' %}



{% block content %}


{% block javascript %}
  <script>
    require([
      "esri/WebMap",
      "esri/views/MapView",
      "esri/core/watchUtils"
    ], function(WebMap, MapView, watchUtils) {

      var webmap = new WebMap({
        portalItem: {
          id: "41281c51f9de45edaf1c8ed44bb10e30"
        }
      });

      var view = new MapView({
        container: "viewDiv",
        map: webmap
      });
      watchUtils.whenTrue(view, "stationary", function() {


          // Get the new extent of the view only when view is stationary.
          if (view.extent) {
            var info = [
              view.extent.xmin.toFixed(2),
              view.extent.xmax.toFixed(2),
              view.extent.ymin.toFixed(2),
              view.extent.ymax.toFixed(2)
            ];
            console.log(info);
          }
        });
    });

        
  </script>
{% endblock %}



  {% block page_content %}
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-sm-4">
                    {% for file in maps %}
                    <li class="list-group-item"> 
                        <div class="card-body">
                            <h5 class="card-title">{{file.title}}</h5>
                        <p class="card-text">Upload time: {{file.date_created}}</p>

                        <a href="#" class="card-link">{{file.user_name}}</a>
                        <a href="/maps/{{ file.map_id}}" methods="GET" class="card-link">Download</a>
                        </div>
                    </li>
                    {% endfor %}
                </div>
                <div class="col-sm-8" id="viewDiv"></div>
            </div>
        </div>

  {% endblock %}
{% endblock %}