{% extends 'base.html' %}



{% block content %}


{% block javascript %}
  <script>
    require([
      "esri/WebMap",
      "esri/views/MapView",
      "esri/core/watchUtils"
    ], function(WebMap, MapView, watchUtils) {

      const webmap = new WebMap({
        portalItem: {
          id: "5f2da3707a1047d798a1da49e52f67f9"
        }
      });

      const view = new MapView({
        container: "viewDiv",
        map: webmap
      });
      

 

    });

    
    
    
    
    
    
//     test code
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "esri/Graphic",
      "esri/layers/GraphicsLayer"
      
    ], function(
            Map,
            MapView,
            FeatureLayer,
            Graphic,
            GraphicsLayer
           ){
      
      var map = new Map({
        basemap: "topo",
      });
      
      const view = new MapView({   
      container: "newMapDiv",
      map: map,
      zoom: 6,
      center: [-120.042165, 37.091944]
      });   
    
    
      
      var graphicsLayer = new GraphicsLayer();
    
      map.add(graphicsLayer);

//     var map_data = {{map_data|safe}};
//     for (i=0; i < map_data.length; i++){
//       console.log(map_data[i]);
//     };
    
    
//     var polygon = {
//        type: "polygon",
//        rings: [[[-14200000, 3700000], [-14200000, 3880000], [-14020000, 3880000], [-14020000, 3700000], [-14200000, 3700000]],  [[-13840000, 3880000], [-13840000, 4060000], [-13660000, 4060000], [-13660000, 3880000], [-13840000, 3880000]]],
//         spatialReference: {wkid: 3857}
//      };
//     var datasets = {{datasets_array|safe}};
    var datasets = {{datasets_array|safe}};
    for (i=0; i < datasets.length; i++){
      var point = {
        type: "point",
        longitude: datasets[i]['long'],
        latitude: datasets[i]['lat'],
        spatialReference: {wkid: 3857}
      };
      
    

      var simpleMarkerSymbol = {
        type: "simple-marker",
        color: [226, 119, 40],  // orange
        outline: {
         color: [255, 255, 255], // white
         width: 1
        }
      };
      
      
      var data_id = datasets[i]['data_id'];
      url = 'datasets/' + datasets[i]['data_id'].toString();
      
      function setContentInfo(feature){
        // create a chart for example
        var newContent = document.createTextNode("Hi there and greetings!"); 
        return newContent;
      }
      
      
      var popup = {
        "title": datasets[i]["title"],
        "content": setContentInfo
      };
      

      var polygonGraphic = new Graphic({
        geometry: point,
        symbol: simpleMarkerSymbol,
        popupTemplate: popup
      });
      graphicsLayer.add(polygonGraphic);
    };
    
    });
    
//  for the datasets list scroll
      
    $("#scroll").on('mousewheel', function(){//我这没有做兼容firefox，你可以看下mousewheel
    var _self = $(this),
        delta = (event.wheelDelta) ? event.wheelDelta / 120 : -(event.detail || 0) / 3;
    if(delta > 0 && _self.scrollTop() === 0){//滑动到顶部，再往上滑就
        e.preventDefault();
    //滑动到底部，再往下滑就阻止默认行为
    }else if(delta < 0 && (_self.scrollTop() == _self.get(0).scrollHeight - _self.height())){
        e.preventDefault();
    }
    });
      
//   datasets list div scroll end.
    
    
  </script>
{% endblock %}

  {% block page_content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
<!--    search    -->
      <form method="get" action="/search/">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" required>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>


      <form method="get" action="/search/">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="huckeyword" placeholder="HUC Search" required>
        <button class="btn btn-primary" type="submit">Huc Search</button>
      </form>
        
      <h4> Tags </h4>

      {% for tag in tags %}

        <span class="badge badge-pill badge-info">{{tag}}</span>
      {% endfor %}


<!--    end search    -->

      
    </div>
    <div class="col-sm-4" >
    <div id='scroll'>
    
    {% for file in maps %}
    <div class="list-group">
      <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="card-title" id="result_title"><a href="{% url 'detail' pk=file.pk %}">{{file.title}}</a></h5>

        </div>
        
        <small class="text-muted">Uploader: {{file.uploader}} |</small>     
        <small>{{file.date_created}}</small>
      </li>
    </div>
    {% empty %}
      <div class="d-flex w-100 justify-content-between"> No result! </div>
    {% endfor %}
    </div>
      
<!--      pogination  -->
    {% if maps.has_other_pages %}
  <ul class="pagination">
    {% if maps.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ maps.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link" tabindex="-1" aria-disabled="true">&laquo;</span></li>
    {% endif %}
    {% for i in maps.paginator.page_range %}
      {% if maps.number == i %}
        <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if maps.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ maps.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class=" page-item disabled"><span class="page-link" tabindex="-1" aria-disabled="true">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<!-- pagination end -->

  </div>
    <div class="col-sm-6" id="newMapDiv" ></div> 
  </div>

</div>


  {% endblock %}
{% endblock %}