
body{
/*   padding: 4rem 0rem; */
}

/* .container{ */
.container-fluid{
  background-color: #FFF;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container-fluid{
  margin-top: 0;
}



/* This part is for the step progressing bar use */
.progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 50%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
      background-color: #7d7d7d
  }
  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }

#loadingImage{
    width: 100%;
    height: 100%;
}

img {
  vertical-align: middle;
}

#finish{
  width: 40%;
  height: 40%;
}

#checkMark{
    width: 35%;
    height: 35%;
    margin-bottom: 1em;
}
#checkImage{
  text-align: center;
}

#viewDiv, #mapDiv, #newMapDiv{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      min-height: 40em;
}

#scroll {
  overflow:scroll;
  height:40em;
}

#mainScreen {
  width: 100%
}